.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
    
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}

// Fade left to right

.slide-fade-right-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-right-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-right-enter,
.slide-fade-right-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

// Fade right to left

.slide-fade-left-enter-active {
transition: all 0.5s ease-out;
}

.slide-fade-left-leave-active {
transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-left-enter,
.slide-fade-left-leave-to {
  transform: translateX(-50%);
  opacity: 0;
  position: absolute;
}

// Fade opacity

.fade-enter-active {
  transition: all 0.3s ease-out;
}

.fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//Page Trans

.page-transition-enter-active {
transition: all 0.3s ease-out;
}

.page-transition-leave-active {
transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-transition-enter{
  transform: translateX(-50%);
  opacity: 0;
  position: absolute;
}

.page-transition-leave-to{
  opacity: 0;
}